<header>
  <div class="menu-wrapper">
    <div class="left-wrap">
      <div class="left-wrap-inner">
        <div class="left-div">
          <h2 class="lg-heading">
            <span class="text-first">Holly</span>
            <span class="text-last">Caesar</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="right-wrap">
      <div class="right-wrap-inner">
        <div class="right-div">
          <h3 class="lg-heading">
            <span class="text-last">Guitarist</span>
            <span class="text-first">/ Songwriter</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="menu-btn">
      <div class="btn-line-container">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
    </div>

    {% include menu.html %}
  </div>
</header>
