<div class="icons">
        <a href="">
            <i class="fa fa-spotify"></i>
          </a> 
          <a href="">
              <i class="fa fa-apple"></i>
              <a href="">
                  <i class="fa fa-youtube-square"></i>
          <a href="">
              <i class="fa fa-instagram"></i>
            </a> 
            <a href="">
                <i class="fa fa-facebook"></i>
              </a>    
        <a href="contact.html">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
          