<!DOCTYPE html>
<html lang="en">
  {% include head_media.html %}

  <body id="bg-img">
    {% include header.html %}

    <main id="work">
      <h2 class="sm-heading-2">
        Videos
      </h2>

      <div class="projects">
        <div class="item">
          <a
            href="https://www.youtube.com/embed/bvY6hHhaG_E"
            class="btn-light btn-project-1"
          >
            <img src=" assets/img/background.jpg" alt="Video" />
            Video
          </a>
        </div>

        <div class="item">
          <a
            href="https://www.youtube.com/embed/bvY6hHhaG_E"
            class="btn-light btn-project-1"
          >
            <img src=" assets/img/background.jpg" alt="Video" />
            Video
          </a>
        </div>

        <div class="item">
          <a
            href="https://www.youtube.com/embed/bvY6hHhaG_E"
            class="btn-light btn-project-1"
          >
            <img src=" assets/img/background.jpg" alt="Video" />
            Video
          </a>
        </div>

        <div class="item">
          <a
            href="https://www.youtube.com/embed/bvY6hHhaG_E"
            class="btn-light btn-project-1"
          >
            <img src=" assets/img/background.jpg" alt="Video" />
            Video
          </a>
        </div>

        <div class="item">
          <a
            href="https://www.youtube.com/embed/bvY6hHhaG_E"
            class="btn-light btn-project-1"
          >
            <img src=" assets/img/background.jpg" alt="Video" />
            Video
          </a>
        </div>
      </div>

      <h2 class="sm-heading-2">
        Images
      </h2>

      <div class="projects">
        <div class="item">
          <a href="assets/img/background.jpg" class="btn-light btn-project-1">
            <img src=" assets/img/background.jpg" alt="Video" />
            Image
          </a>
        </div>
        <div class="item">
          <a href="assets/img/background.jpg" class="btn-light btn-project-1">
            <img src=" assets/img/background.jpg" alt="Video" />
            Image
          </a>
        </div>
        <div class="item">
          <a href="assets/img/background.jpg" class="btn-light btn-project-1">
            <img src=" assets/img/background.jpg" alt="Video" />
            Image
          </a>
        </div>
        <div class="item">
          <a href="assets/img/background.jpg" class="btn-light btn-project-1">
            <img src=" assets/img/background.jpg" alt="Video" />
            Image
          </a>
        </div>
        <div class="item">
          <a href="assets/img/background.jpg" class="btn-light btn-project-1">
            <img src=" assets/img/background.jpg" alt="Video" />
            Image
          </a>
        </div>
      </div>
    </main>

    {% include footer.html %}

    <script src="public/js/main.js"></script>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="public/js/jquery_image_quickview.js"></script>
  </body>
</html>
